body {
  padding-top: 100px;
  text-align: center;
  font-size: 1em;
}


canvas {
    padding: 0;
    margin: auto;
    display: block;
    background-color: black;
    border: 1px solid black;
}

#score {
  display: inline-block;
  margin: 0 auto;
  width: 30%;
}

.hiddenPlay {
  display: none;
}

.showPlayButton {
  display: block;
}
