body {
  text-align: center;
  font-size: 1em;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    background-color: black;
    border: 1px solid black;
}

#container {
  width: 25%;
  margin: 0 auto;
}

.center {
  text-align: center;
  font-size: 4em;
}

.hideThis {
  display: none;
}
